.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.about-us {
    background-image: url(images/grey-back.png);
    background-size: cover;
    color: white;
    padding: 20px;
    height: 660px;
    margin-bottom: -20px;
    margin-top: -20px;
    margin-left: -30px;
    text-shadow: 1px 1px 2px black;  
    background-color: black;
    font-size: 27px;
    text-align: center;
}

.image-container {
    margin-top: -20px;
    margin-bottom: -25px;
    margin-right: -40px;
}
.footers{
    background-color: red; 
    color: white;
     padding: 20px; 
     text-align: center; 
     margin-bottom: -10px; 
     margin-left: -20px; 
     margin-right: -20px;
}

.headers{
    background-color: red;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    color:white;
    
}

.navButtons{
    margin-right: 20px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.navButtons:hover{
    margin-top:10px;
    background-color:black;
    color: white;
}

.bodyBack{
    background-color: bisque;
}
#imageContainer:hover{
    background-color: bisque;
    margin-top: 10px;
}


.metalFont{   
    font-family: 'Metal Mania';
    font-size: 40px;
}
p{
    font-family: Comic Sans Ms;
}
.comicFont{
    font-family: Comic Sans Ms;
}

.mapContainer{
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 18%;
    border: 3px solid black;
}
.map:hover{
    box-shadow: 10px 10px 5px 2px lightblue;
    margin-top: -10px;
    margin-bottom: 10px;
}
.map{    
    height: 900px;
    width: 1000px;
}
.logoImg:hover{
    margin-top: 10px;
}
#rightContent{
    float:right;
    margin-right: 0%;
    display: block;
    height: 1000px;
}

.box {
    border: 2px solid black; 
    padding: 20px; 
    width: 300px;
    height: auto; 
    border-radius: 10px; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
}
.active {
    background-color: #04AA6D;
    color: white;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
}
.city {
    background-color: rgb(192, 9, 9);
    color: white;
    border: 2px solid black;
  }



.index_info{
    background-image: url(images/grey-back.png); 
    background-size: cover;
    color: white;  /* Light text to contrast the background */
    padding: 20px;
    height: 660px; 
    margin-bottom: -20px; 
    margin-top: -20px; 
    margin-left: -30px;
    text-shadow: black;
    background-color: black;
    font-size: 27px;
    text-align: center;
}


.image:hover{
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 10px 10px 50px 2px;
}


table, tr, td {
    border: 1px solid black;
}

input[type=submit]{
    height: 45px;
     width: 70px;
}
input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  


